body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
/* this is the headre part of the page */
.header{
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    padding: 20px 60px;
    gap: 40px;
}
 
#logo{
    font-size: 30px;
    color: #E5E7EB;
    font-family: Roboto;
    padding-left: 25px;
    font-weight: bold;
}

#hero{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    font-family: Roboto;
    margin-bottom: 17px;
}

.high{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-right: 25px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.left-part{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.left-part p{
    font-size: 24px;
    color: #F9FAF8;
}

button{
    width: 75px;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
}
.right-part{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
    background-color: #6b7280;
    border-radius: 8px;
}

/* this is the main part of the page*/
.first-main{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
}

.main-header{
    display: flex;
    justify-content: center;
}

.main-header h3{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.container{
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

.image{
    max-width: 200px;
}

.img{
    border-style: solid ;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-bottom: 10px ;
    border-color: #3882F6;
}

.second-main-parent{
    background-color: #E5E7EB;
    padding: 40px 20px ;
}
.second-main{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.second-main p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding: 10px;
}

.author{
    text-align: right;
}

.third-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-top: 20px;

}

.box{
    display: flex;
    flex-direction: row;
    background-color: #6198f0 ;
    border-radius: 8px;
    padding: 25px;
    width: 700px;
    flex-wrap: wrap;
}

.form{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.form h3 , p {
    color: #F9FAF8;

}

.button{
    flex : 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button button{
    color: #F9FAF8;
    border: 2px solid #fff;
}

/* footer */

.footer{
    background-color: #1F2937;
    text-align: center;
    margin-top: 20px;
}